#atrr {
    background-color: lightblue;
    color: white;
    padding: 10px;
}

.logo {
    height: 45px;
    width: 70px;
    padding: 5px;
    cursor: pointer;
    margin-right: 70%;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar {
    background-color: white;
    overflow: hidden;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
}

.navbar a {
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.res-card {
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    transition: transform 0.2s ease;
}

.res-menu h4 {
    /* Allow cuisines to wrap onto a new line */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.res-image :hover {
    transform: scale(0.95);
}

.res-image {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.res-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
}