#atrr {
    background-color: lightblue;
    color: white;
    padding: 10px;
}

.logo {
    height: 45px;
    width: 70px;
    padding: 5px;
    cursor: pointer;
    margin-right: 60%;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar {
    background-color: white;
    overflow: hidden;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
}

.navbar a {
    padding: 14px 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #c21919;
    color: #c21919;
    margin: 5px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.navbar a:hover {
    background-color: #c21919;
    color: #fff;
}

.res-card {
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    transition: transform 0.2s ease;
}

.shimmer-card {
    width: 300px;
    height: 320px;
    border: 1px solid black;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.res-menu h4 {
    /* Allow cuisines to wrap onto a new line */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.res-image {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.res-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
}

.filter-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #c21919;
    border-radius: 5px;
    color: #c21919;
    margin: 5px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.filter-btn:hover {
    background-color: #c21919;
    color: #fff;
}

.search-box {
    padding: 10px 10px;
    margin-left: 64px;
    border: 2px solid #c21919;
    border-radius: 5px;
}

.restaurant-details {
    display: flex;
    justify-content: space-between;
    /* Align items at the start */
    overflow-x: hidden;
    /* Prevent horizontal scrollbar */
    padding: 20px;
    /* Optional: Add padding around the content */
}


.image-container img {
    width: 100%;
    /* Make the image fill its container */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Ensure image behaves correctly */
    max-width: 500px;
    /* Ensure image doesn't exceed container width */
    max-height: 400px;
    padding: 20px;
    border-radius: 8px;
}

.cardContainer a {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

res-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardContainer a:hover {
    transform: scale(1.05);
}

.button-secondary {
    --tw-border-opacity: 1;
    background-color: transparent;
    border-color: rgb(255 255 255/var(--tw-border-opacity));
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 1rem 2.5rem;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.button-secondary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    color: rgb(0 0 0/var(--tw-text-opacity))
}